[Desktop Entry]
Version=1.0
Type=Application
Name=Cyscom Network Scanner
Comment=Network security scanner
Exec=cysnetscan-gui
Icon=/usr/share/pixmaps/cyslogo.png
Terminal=false
Categories=Network;Security;
